{% extends 'shop/base.html' %}
{% load static %}

{% block content %}

	<div class="container pd-b-20 text-center" style="margin-top: 100px">
		<h1>Add New Product</h1>
		<div class="row pd-t-20 pd-b-20">
			<form enctype="multipart/form-data" class="form-horizontal" method="POST" action="{% url 'shop:admin_add_product' %}">
				{% csrf_token %}
				<div class="form-group">
					<div class="col-md-4">
						<label for="name"><h4>Name<span style="color: red;">*</span></h4></label>
					</div>
					<div class="col-md-6">
						{{ form.name }}
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-4">
						<label for="name"><h4>Quantity<span style="color: red;">*</span></h4></label>
					</div>
					<div class="col-md-1">
						{{ form.quantity }}
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-4">
						<label for="description"><h4>Description<span style="color: red;">*</span></h4></label>
					</div>
					<div class="col-md-6">
						{{ form.description }}
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-4">
						<label for="price"><h4>Price (IDR)<span style="color: red;">*</span></h4></label>
					</div>
					<div class="col-md-2">
						{{ form.price }}
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-4">
						<label for="Photo"><h4>Photo<span style="color: red;">*</span></h4></label>
					</div>
					<div class="col-md-6">
						{{ form.photo }}
					</div>
				</div>
				<div class="form-group text-center">
					<button type="submit" class="btn btn-default btn-lg text-white">SAVE PRODUCT</button>
				</div>
			</form>
		</div>
	</div>


{% endblock %}
