{% extends 'shop/base.html' %}
{% load static %}

{% block content %}

<div class="container pd-b-20 text-center" style="margin-top: 100px">
  <h1>WELCOME ADMIN!</h1>
  <div class="row pd-t-40 pd-b-40">
    <div class="col-md-8 col-md-offset-2 pd-t-20 pd-b-20">
      <a href="#" class="btn btn-default text-white btn-lg btn-block btn-huge">CUSTOMIZE YOUR PRODUCT</a>
    </div>
    <div class="col-md-8 col-md-offset-2 pd-t-20 pd-b-20">
      <a href="{% url 'shop:admin_unpaidorder' %}" class="btn btn-info text-white btn-lg btn-block btn-huge">CUSTOMIZE YOUR ORDER</a>
    </div>
    <div class="col-md-8 col-md-offset-2 pd-t-20 pd-b-20">
      <a href="{% url 'shop:admin_article' %}" class="btn btn-warning text-white btn-lg btn-block btn-huge">CUSTOMIZE NEWEST EVENT</a>
    </div>
    <div class="col-md-8 col-md-offset-2 pd-t-20 pd-b-20">
      <a href="{% url 'shop:admin_profile' %}" class="btn btn-success text-white btn-lg btn-block btn-huge">EDIT COMPANY'S PROFILE</a>
    </div>
  </div>
</div>

{% endblock %}
