{% extends 'shop/base.html' %}
{% load static %}
{% block content %}

	<div class="container" style="margin-top: 100px;">
		<div class="text-center text-title pd-t-20 pd-b-40">
			<h1>GET TO KNOW MAXFORCE 5.11</h1>
			<div class="group-shape">
				<div id="element1">  <hr></div>
				<div id="element2">  <div class="diamond-small"></div> </div>
				<div id="element3">  <hr> </div>
			</div>
			<div class="pd-t-20 pd-b-20">
				<img src="{% static 'shop/content/fotomaxforce.jpg' %}" alt="" class="img-responsive center-block">
				<div class="detail-about pd-t-10 pd-b-10">
					<!-- Perusahaan ini berdiri pada tanggal 25 november 2005 di Jakarta dengan nama PT Keen Indonesia, atau yang dikenal sebagai Keen Adventure. Keen Adventure adalah perusahaan yang bergerak di bidang retail peralatan berpetualang. Perusahaan ini didirikan tahun 2002 oleh Arif Tan. Kata keen sendiri di dapat dari kenes yang artinya lincah dan smart yang ditujukan ke anak-anak kecil. Akhirnya, diambillah kata keen adventure yang berarti petualangan yang menyenangkan.
					<br><br>
					Keen Adventure berdiri untuk memenuhi kebutuhan para petualang yang pada saat itu sangat minim untuk para petualang mencari perlengkapan yang sesuai dan dibutuhkan. Outlet pertama Keen Adventure sendiri didirikan di Mall Ciputra Grogol. Keen Adventure menjual beberapa brands lokal ternama. Seiring berjalannya waktu, Keen Adventure mencoba impor brand luar yang cocok dan aman yang di butuhkan untuk perlengkapan petualang
					<br><br>
					Perusahaan ini pada awalnya bergerak di bidang pemasaran perlengkapan penggiat alam dan berkemah. Pada tahun 2008, perusahaan ini mulai memasarkan produk tactical dengan merek 5.11 tactical. Pada tahun berikutnya, perusahaan ini juga memasarkan merek Maxpedition, Hazard 4, dan Condor. Saat ini, perusahaan sudah menjadi distributor dan dealer sejumlah merek seperti Gregory, Hydroflask, Hydrapack, Wigwam, 5.11, Hazard 4, Maxpedition, Helikon-tex, Condor, dan lain lain. Perusahaan ini juga memproduksi produk merek sendiri, yaitu Keen, Maxforce, dan Keenkids.
					<br><br>
					Perusahaan ini sudah memiliki 3 cabang, yakni toko di Pondok Indah Mall (Jakarta), STC Senayan (Jakarta), dan Dago (Bandung). Toko yang berada di Bandung merupakan hasil ekspansi PT. Keen Indonesia yang baru didirikan pada tahun 2016, dan menjadi outlet tactical/military pertama dan satu-satunya di Bandung.  -->
					{{ about.description }}
				</div>
			</div>
		</div>
	</div>

{% endblock %}
