{% extends 'shop/base.html' %}
{% load static %}

{% block content %}
<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="{% static 'shop/content/fto1.jpg' %}" alt="">
    </div>
    <div class="item">
      <img src="{% static 'shop/content/fto2.jpg' %}" alt="">
    </div>
    <div class="item">
      <img src="{% static 'shop/content/fto4.jpg' %}" alt="">
    </div>
  </div>
</div>

<div class="carousel-content" id="#tes">
  <div class="container">
    <div class="text-white text-center">
      <h1> EXPLORE YOUR ADVENTURE </h1>
      <p>The biggest adventure you can take is to live the life of your dreams. <br>Read our stories here</p>
      <a href="#about" class="page-scroll">
        <button type="button" class="btn btn-default btn-c-learn text-white">
          LEARN MORE
        </button>
      </a>
    </div>
  </div>
</div>


<div class="about" id="about">
  <div class="text-center text-title pd-t-20 pd-b-40">
    <h3>a little thing about...</h3>
    Maxforce 5.11
    <div class="group-shape">
      <div id="element1">  <hr></div>
      <div id="element2">  <div class="diamond-small"></div> </div>
      <div id="element3">  <hr> </div>
    </div>
    <div class="text-about pd-t-10 pd-b-10">
      Perusahaan ini berdiri pada tanggal 25 november 2005 di Jakarta dengan nama PT Keen Indonesia, atau yang dikenal sebagai Keen Adventure. Keen Adventure adalah perusahaan yang bergerak di bidang retail peralatan berpetualang. Perusahaan ini didirikan tahun 2002 oleh Arif Tan. Kata keen sendiri di dapat dari kenes yang artinya lincah dan smart yang ditujukan ke anak-anak kecil. Akhirnya, diambillah kata keen adventure yang berarti petualangan yang menyenangkan.
    </div>
    <a href="{% url 'shop:about' %}">
      <button type="button" class="btn btn-default btn-lg text-white">
        READ MORE
      </button>
    </a>
  </div>
</div>
</div>

<div class="content">
  <div class="container text-center pd-b-20">
    <div class="text-title pd-t-20 pd-b-40">
      Our Latest Blog
      <div class="group-shape">
        <div id="element1">  <hr></div>
        <div id="element2">  <div class="diamond-small"></div> </div>
        <div id="element3">  <hr> </div>
      </div>
    </div>

    <div class="row pd-t-20 pd-b-40">
      {% for article in latest_articles %}
      <div class="col-md-4">
        <div class="back-box">
          <div class="prod-text">
            <h2 class="text-uppercase text-bold">{{ article.title }}</h2>
            <p>{{ article.description|safe|truncatewords:"30"|linebreaks }}</p>
            <a href="{% url 'shop:article' article.pk %}" type="button" class="btn btn-default btn-lg text-white">
              Read More
            </a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="pd-t-20 pd-b-20">
      <a href="{% url 'shop:articles' %}" type="button" class="btn btn-default btn-lg text-white">
        See Other Blogs
      </a>
    </div>
  </div>

<div class="cont-white">
  <div class="text-center text-title pd-t-20 pd-b-40">
    Our Newest Feed
    <div class="text-center">
      <ul class="latest-post">
        <li class="f-all">
          <a id="feed-all" href="" class="data-post">all</a>
        </li>
        <li class="f-facebook">
          <a id="feed-fb" href="" class="data-post"><i class="fa fa-facebook fa-lg"></i></a>
        </li>
        <li class="f-instagram">
          <a id="feed-ig" href="" class="data-post"><i class="fa fa-instagram fa-lg"></i></a>
        </li>
      </ul>
    </div>
  </div>
  <div class="container text-center" id="div-ig">
    <div class="row mg-t-20 pd-t-20 pd-b-20">
      {% for media in recent_media %}
      <div class="col-md-3 col-xs-6 grid-top pd-t-20 pd-b-20 media-ig">
        <a href="{{media.link}}" class="b-link-stripe b-animate-go thickbox"><img class="img-responsive" src="{{ media.images.standard_resolution.url }}" alt>
          <div class="b-wrapper">
            <div class="b-animate b-from-left b-delay03 ">
              <span><h5>{{ media.caption.text }} </h5>
              </span>
            </div>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
    <hr id="separator"/>
  </div>
  <div class="container" style="text-align:left;" id="div-fb">
    {% for data in facebook_data.data %}
    <a class="fb-href" href="https://facebook.com/{{data.id}}">
      <div class="col-md-3 col-xs-6 grid-top media-fb">
        <div class="facebook-container row">
          <div class="col-md-3 col-xs-6 pd-t-20 pd-b-20">
            <img src={{facebook_data.picture }}>
          </div>
          <div class="col-md-9 col-xs-6  pd-t-20 pd-b-20">
            {{ facebook_data.info.name }}
            <br>
            {{ data.created_time }}
          </div>
          <div class="facebook-message">
            {{ data.message }} {{ data.story }}
          </div>
        </div>
      </div>
    </a>
    {% endfor %}
  </div>
</div>

<div class="container text-center pd-b-20">
  <div class="text-title pd-t-20 pd-b-40">
    Our Latest Product
    <div class="group-shape">
      <div id="element1">  <hr></div>
      <div id="element2">  <div class="diamond-small"></div> </div>
      <div id="element3">  <hr> </div>
    </div>
  </div>

  <div class="row pd-t-20 pd-b-40">
    {% for product in latest_products %}
    <div class="col-md-4 product-thumbnail">
      <a href="{% url 'shop:product' product.pk %}">
        <img src="{{ product.photo.url }}" class = "img-full" alt="">
      </a>
    </div>
    {% endfor %}
  </div>
  <a href="{% url 'shop:products' %}" type="button" class="btn btn-default btn-lg text-white">
    See Other Products
  </a>
</div>
</div>

<script>
  $('#feed-all').click(function(e) {
    e.preventDefault();
    $('#div-ig').fadeIn();
    $('#div-fb').fadeIn();
    $('#separator').show();
  });

  $('#feed-fb').click(function(e) {
    e.preventDefault();
    $('#div-ig').fadeOut();
    $('#div-fb').fadeIn();
    $('#separator').hide();
  });

  $('#feed-ig').click(function(e) {
    e.preventDefault();
    $('#div-ig').fadeIn();
    $('#div-fb').fadeOut();
    $('#separator').hide();
  });
</script>
{% endblock %}
