{% extends 'shop/base.html' %}
{% load static %}

{% block content %}

<div class="container pd-b-20" style="margin-top: 100px;">
  <div class="row text-center">
    {% for product in products %}
    <div class="col-md-3 col-sm-4 mg-b-20">
      <div class="product-thumbnail">
        <a href="{{ product.pk }}">
          <img class="img-responsive img-full" src="{{ product.photo.url }}">
        </a>
      </div>
        <a href="{{ product.pk }}" type="button" class="btn btn-default btn-lg text-white">
          Look Detail
        </a>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
