{% extends 'shop/base.html' %}
{% load static %}

{% block content %}
<div class="container" style="margin-top: 100px">
  <div class="row">
    <div class="col-md-6">
      <div class="product-photo">
        <img src="{% static product.url_photo %}">
      </div>
    </div>
    <div class="col-md-6 product-div">
      <div>
        <h2>{{ product.name }}</h2>
        <h2>{{ product.price }}</h2>
        <div style="margin-top: 15px">
          <span>Quantity: {{ product.quantity }} | Sold: {{ product.sold }}</span>
        </div>
      </div>
      <br>
      <a href="{% url 'shop:confirm' product.pk %}" type="button" class="btn btn-default btn-lg text-white">
        BUY
      </a>
      <h4 style="margin-top: 25px">Description</h4>
      <p class="product-desc">
        {{ product.description }}
      </p>
    </div>
  </div>
</div>
{% endblock %}
